<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="{{static_url("bootstrap/css/bootstrap.min.css")}}" rel="stylesheet">
        <script src="{{static_url("bootstrap/js/bootstrap.min.js")}}"></script>
        <script src="http://code.jquery.com/jquery.js"></script>
	<title></title>
<script type="text/javascript">
    $(document).ready(function () {
     $('#keyword').attr('value',"{{keyword}}")

   })
</script>
</head>
<body>
   <div class="container" style="margin-top:40px;">
   <div class="row">
       <div class="span4 offset4">
          <form class="form-search" method="GET" action="/query/">

          <input class="input-medium search-query" type="text" name="keyword" id="keyword" placeholder="关键字"/>
          <input class="btn" type="submit" value="搜索"/>
     </form>
       </div>
    </div>
   </div>

   <div class="container-fluid">
   <hr size="2" color="blue" width="100%"></hr>
     {%for i in queryset%}
     <div class="row-fluid offset2">
       <div class="span2">
         <a href={{i.href}} target="_blank"><img src={{i.imgsrc}} alt={{i.alt}}  align="left"/></a>
       </div>
       <div class="span10">
          <div>
             <div class="span6"> <a href={{i.href}} target="_blank">{{i.title}}</a>
             <br/><strong>概述:</strong><p class="small">{{i.detail}}</p>
             </div>

          </div>
       </div>
     </div>
     <hr size="2" color="blue" width="100%"></hr>
     {%end%}
     {% if not queryset%}
       <div class="text-center text-error"><h3>没有找到你想要的结果啊，对不起啊</h3></div>
     {%end%}
   </div>
</body>
</html>